{% load active_link_tags %}

    <!-- mian-content -->
    <div class="main-banner" id="home">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1> <a href="{% url 'index' %}"><span class="fa fa-bold" aria-hidden="true"></span>ootie</a></h1>
                    </div>

                    <label for="drop" class="toggle">Menu</label>
                    <input type="checkbox" id="drop" />
                    <ul class="menu mt-2">
                        <li><a href="{% url 'index' %}" class="{% active_link 'index' strict=True %}">Home</a></li>
                        <li><a href="{% url 'about' %}" class="{% active_link 'about' %}">About</a></li>
                        <li><a href="{% url 'shop' %}">Shop Now</a></li>
                        <li><a href="{% url 'contact' %}" class="{% active_link 'contact' %}">Contact</a></li>
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
        <!-- //header -->

        <!--/banner-->
        <div class="banner-info">
            {% if trending %}
            <p>Trending of the week</p>
            {% endif %}
            <h3 class="mb-4">{{heading}}</h3>
            {% if btn %}
            <div class="ban-buttons">
                <a href="{% url 'shop' %}" class="btn">Shop Now</a>
                <a href="{% url 'about' %}" class="btn active">Read More</a>
            </div>
            {% endif %}
        </div>
        <!--// banner-inner -->

    </div>
    <!--//main-content-->