{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <!---->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">Single Page</li>
    </ol>
    <!---->
    <!-- banner -->
    <section class="ab-info-main py-md-5 py-4">
        <div class="container py-md-3">
            <!-- top Products -->
            <div class="row">
                <!-- product left -->
                <div class="side-bar col-lg-4">

                    <div class="search-bar w3layouts-newsletter">
                        <h3 class="sear-head">Search Here..</h3>
                        <form action="" method="GET" class="d-flex">
                        <button class="btn1">Apply Filters</button>
                        <input type="search" placeholder="Product name..." name="name" class="form-control">
                    </div>
                    <!--preference -->
                    <div class="left-side my-4">
                        <h3 class="sear-head">Occasion</h3>
                        <ul class="w3layouts-box-list">
                                <li>
                                    <input name='tags' type="radio" class="checked" value="Casuals">
                                    <span class="span">Casuals</span>
                                </li>
                                <li>
                                    <input name='tags' type="radio" class="checked" value='Party'>
                                    <span class="span">Party</span>
                            </li>
                            <li>
                                <input name='tags' type="radio" class="checked" value="Wedding">
                                <span class="span">Wedding</span>
                            </li>
                            <li>
                                <input name='tags' type="radio" class="checked" value="Ethnic">
                                <span class="span">Ethnic</span>
                            </li>
                        </ul>
                    </div>
                    <!-- // preference -->
                    <!-- discounts -->
                    <div class="left-side">
                        <h3 class="sear-head">Price</h3>
                        <ul class="w3layouts-box-list">
                            <li>
                                <input name='price' value='price' type="radio" class="checked">
                                <span class="span">200 or Less</span>
                            </li>
                            <li>
                                <input name='price' value='price' type="radio" class="checked">
                                <span class="span">400 or Less</span>
                            </li>
                            <li>
                                <input name='price' value='price' type="radio" class="checked">
                                <span class="span">600 or Less</span>
                            </li>
                            <li>
                                <input name='price' value='price' type="radio" class="checked">
                                <span class="span">800 or Less</span>
                            </li>
                            <li>
                                <input name='price' value='price' type="radio" class="checked">
                                <span class="span">1000 or Less</span>
                            </li>
                        </ul>
                    </form>
                    </div>
                    <!-- //discounts -->
                    {% include 'pages/special-deals.html' %}
                </div>
                <!-- //product left -->
                <!-- product right -->
                <div class="left-ads-display col-lg-8" id='go'>
                    <div class="row">

                        {% for obj in filter.qs %}
                        <div class="col-md-4 product-men">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{obj.image.url}}" class="img-fluid" alt="">
                                    <span class="product-new-top">New</span>
                                </div>
                                <div class="item-info-product">
                                    <h4>
                                        <a href="{% url 'shop-detail' obj.id %}">{{obj.name}}</a>
                                    </h4>

                                    <div class="product_price">
                                        <div class="grid-price">
                                            <span class="money">Rs {{obj.price|floatformat:2}}</span>
                                        </div>
                                    </div>
                                    <ul class="stars">
                                        {% with ''|center:obj.get_rating as range %}
                                            {% for _ in range %}
                                                <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            {% endfor %}
                                        {% endwith %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="grid-img-right mt-4 text-right">
                        <span class="money">Flat 50% Off</span>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    {% endblock content %}