{% extends 'accounts/base.html' %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block content %}

<section class="ab-info-main py-5">
    <div class="container py-3">
        <h3 class="tittle text-center"><span class="sub-tittle">Find Us</span> Contact Us</h3>
        <div class="row contact-main-info mt-5">
            <div class="col-md-6 contact-right-content">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required="required">
                    <input type="password" class="email" name="password" placeholder="Password" required="required">
                    <div class="read mt-3">
                        <input type="submit" value="Submit">
                    </div>
                </form>
                <br>
                <a href="{% provider_login_url 'google' %}">Login with Google</a> 
            </div>
        </div>
    </div>
</section>


{% endblock content %} 